<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12 text-center">
    <h2><%= title 'Page not found' %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12 text-center">
    The page you requested could not be found.
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12 text-center">
    <a href="javascript:history.back()">&lt; Back</a>
  </div>
</div>
