<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12 text-center">
    <h2>Your projects</h2>
  </div>
</div>
<div class="row">
  <%
    late_not_submitted = []
    not_submitted = []
    submitted = []

    @projects.each do |project|
      submission = project.user_submission(current_user)
      if submission
        submitted << [ project, submission ]
      else
        if submission_late?(project, submission)
          late_not_submitted << [ project, submission ]
        else
          not_submitted << [ project, submission ]
        end
      end
    end

    submitted = submitted.sort_by { |project, submission| project.end_time }.reverse
  %>
  <% if late_not_submitted.any? %>
    <div class="col-md-12">
      <h3>Late projects</h3>
    </div>
    <%= render partial: 'project', collection: late_not_submitted, as: :item %>
    <hr />
  <% end %>
  <% if not_submitted.any? %>
    <div class="col-md-12">
      <h3>Current projects</h3>
    </div>
    <%= render partial: 'project', collection: not_submitted, as: :item %>
    <hr />
  <% end %>
  <% if submitted.any? %>
    <div class="col-md-12">
      <h3>Completed projects</h3>
    </div>
    <%= render partial: 'project', collection: submitted, as: :item %>
    <hr />
  <% end %>
</div>
