<% if notice %>
  <div class="alert alert-success">
    <p class="m-0"><%= notice %></p>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger">
    <p class="m-0"><%= alert %></p>
  </div>
<% end %>
