<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .footer {
        border-top: 1px #dddddd solid;
        padding-top: 9px;
        margin-top: 10px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
    <div class="footer">
      <%= t('mailer.project.footer_html', link: link_to("APITP", root_url)) %>
    </div>
  </body>
</html>
